/* ---------------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  /* prevent scroll x when text exceed */
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix::after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ---------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------------- */

.row { 
  margin: 0 auto; 
  /* move in queries.css */
  padding: 10px 15px 0 15px;
}

/* ----- HEADINGS ---- */
h1 {
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 200%;
  word-spacing: 4px;
  letter-spacing: 1px; 
}

/* ----- PARAGRAPHS ---- */
.deleted {
  text-decoration: line-through;
}

/* ----- BUTTONS ---- */
.material-btn {
  color: #fff;
  text-decoration: none;
  padding: 10px 16px 9px;
  margin-left: 16px;
  vertical-align: middle;
  border-radius: 4px;
  font-weight: 300;
  /* react adaptation */
  cursor: pointer;
  background-color: #838383;
  color: #505050;
  font-style: oblique;
}

.active.material-btn {
  background-color: #d32f2f;
  color: #fff;
  font-style: normal;
}

.active.material-btn:hover {
  background-color: #9d2121;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.game-button {
  height: 70px;
  width: auto;
  fill: #d32f2f;
  border: 2px solid #d32f2f;
  border-radius: 11px;
  cursor: pointer;
  border: 1px solid #d32f2f;
  box-shadow: 0 0 10px #d32f2f;
}

.game-button:hover {
  border: 3px solid #9d2121;
  fill: #9d2121;
  transition: fill 0.3s, border 0.3s;
  -webkit-transition: fill 0.3s, border 0.3s;
  -moz-transition: fill 0.3s, border 0.3s;
  -ms-transition: fill 0.3s, border 0.3s;
  -o-transition: fill 0.3s, border 0.3s;
}

/* ICONS */ 
.icon {
  fill: #fff;
  height: 24px;
  width: auto;
  vertical-align: bottom;
  margin-right: 5px;
  cursor: pointer;
}


/* ---------------------------------------------------- */
/* HEADER */
/* ---------------------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/josh-appel-755881-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.logo {
  float: left;
  margin-top: 1vh;
}

/* react adaptation */
.logo a { cursor: pointer; }

.logo svg {
  height: 100px;
  width: auto;
}

.progression { display: none; }

.one-minute-box {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-56%, -48%);
  -webkit-transform: translate(-56%, -48%);
  -moz-transform: translate(-56%, -48%);
  -ms-transform: translate(-56%, -48%);
  -o-transform: translate(-56%, -48%);
}

.parameters .total-duration {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  padding: 12px 0 12px 10px;
  font-size: 14px;
  width: 90px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Main navi */

.main-nav {
  float: right;
  list-style: none;
  margin-top: 4vh;
}

.main-nav li {
  font-weight: 300;
  display: inline-block;
  margin-right: 4vw;
}

.main-nav li a,
.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 0;
  cursor: pointer;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #d32f2f;
  transform: border-bottom 0.3s;
  -webkit-transform: border-bottom 0.3s;
  -moz-transform: border-bottom 0.3s;
  -ms-transform: border-bottom 0.3s;
  -o-transform: border-bottom 0.3s;
}

/* Sticky navi */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(3, 26, 40, 0.98);
  box-shadow: 0 0 10px #000;
  z-index: 9999;
}

.sticky .progression {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  margin: 18px 0 0 3vw;
}

.sticky .main-nav { margin-top: 18px; }

.sticky .logo { margin-top: 0; }

.sticky .logo svg {
  height: 50px;
  width: auto;
}

/* ---------------------------------------------------- */
/* GAME */
/* ---------------------------------------------------- */

.section-game {
  height: 100vh;
  background-color: #021018;
  color: #fff;
  display: flex;
  flex-direction: column;
}

/* box dimentions */
.clock { height: 41vh }
.blinds { height: 49vh; }
.blinds .current { height: 22vh; }
.blinds .next-1,
.blinds .next-2 { height: 14vh; }

/* CLOCK */
.clock {
  display: flex;
  flex-direction: column;
  margin: 8vh auto 3vh auto;
  padding-top: 15px;
}

.time {
  font-family: monospace;
  font-size: 10rem;
  line-height: 0.9;
  text-align: center;
  width: 656px;
  height: 185px;
  color: #000;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #181402;
  box-shadow: inset 0 0 3px #181402;
}

.time.paused {
  background-color: #9d2121;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.control {
  display: flex;
  justify-content: space-evenly;
  margin-top: 14px;
}

.play-button,
.pause-button { display: none; }

.active.play-button,
.active.pause-button { display: block; }

/* BLINDS */
.blinds {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 5rem;
}

.blinds div {
  font-weight: 300;
  width: 100vw;
  margin: 0 auto;
  font-size: 4rem;
}

.blinds .ended,
.blinds .next { display: none; }

.blinds .current,
.blinds .next-1,
.blinds .next-2 { 
  display: block; 
}

.blinds .current {
  font-weight: 400;
  font-size: 7rem;
  box-shadow: 0 0 5px #fff;
}

.blinds .next-1 {
  border-bottom: 1px dotted #222;
}